body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:aliceblue
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#categoryTile{
    background-color:lightskyblue;
    padding-top:75px;
    margin:1px;
    float:left;
    min-width:300px;
    min-height:200px;
    border-color:antiquewhite;
    border-width:0px;
    border-top-left-radius:2px;
    font-size: 25px;
    text-align:center;
    
 }

@keyframes tileHover{
    from{background-color:aliceblue;}
    to{background-color:skyblue;}
}

#categoryTile:hover{
    background-color:skyblue;
    
}

a{
    color:darkslateblue;
    text-decoration:none;
}

a:hover{
    text-decoration:none;

}

.navbar{
    background-color:darkslateblue;
    color:aliceblue;
    font-size:large;
}

#projectListItem{
    float:none;
    background-color:white;
    margin-top:20px;
    max-width:906px; 
    font-size:20px;
    padding:5px;
    display:block;
}

#sectionHeaderMain{
    color:darkslateblue;
    text-align:left;
    
}

#locationText{
    font-size:16px;
    color:dimgrey
}

#postedbyText{
    font-size:20px;
    color:skyblue;
}

#customButtonMed{
    background-color:darkslateblue;
    min-height:25px;
    min-width: 100px;
    padding: 12px;
    margin-left: 1px;
    margin-bottom: 10px;
    color:white;
    font-size: 18px;
    text-align:center;
    float:left;
    display:inline-block;
}

customButtonMed:hover{
    color:antiquewhite;
}


#createNewButton{
    background-color:darkslateblue;
    min-height:70px;
    max-width: 906px;
    padding: 20px;
    margin-bottom:0px;
    color:antiquewhite;
    font-size: 20px;
    text-align:center;
    display:inline-block;
    float:left
}

#buttonGroupBox{
    margin-left: 65%;
}


input{
    text-decoration:none;
    border-width:0px;
}

#homeIllHelpButtonBox{
    margin-left:85%;
    margin-right:25px;
}

